<header>
    <img [src]="imagePath"/>
      <div class="container">
       
            <a routerLink="/" class="logo">{{ appTitle }}</a>
           
        <nav>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/sai">About</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
            <li><a routerLink="/util">Utility</a></li>
            <li><a routerLink="/team">Team</a></li>
            <li><a routerLink="/employee">Employee</a></li>
          </ul>
        </nav>
      </div>
    </header>